<launch>
  
  <include file="$(find rplidar_ros)/launch/rplidar.launch">
  </include>
  
  
  <node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" value=" /dev/ttyUSB0"/>  <!-- Use the correct USB port for your Pixhawk -->
    <param name="serial_baudrate" value="256000"/>
  </node>
  

  
</launch>

